<div class="container">
  <div class="user_title">
    <h2>アカウント情報</h2>
    <%= link_to edit_user_registration_path do %>
      <i class="fa-solid fa-user-pen fa-lg"></i>編集
    <% end %>
  </div>
  <div class="userform_wrapper">
    <div>
      <div class="account_column">
        <p>ユーザー名</p>
        <%= @user.name %>
      </div>
      <div class="account_column">
      <p>ユーザーアイコン</p>
        <% if @user.image.attached? %>
          <div><%= image_tag @user.image.variant(resize_to_fill: [80, 80]), class: "user_image" %></div>
        <% else %>
          <div><%= image_tag "user-icon.png", class: "user_image_default" %></div>
        <% end %>
      </div>
      <div class="account_column">
        <p>メールアドレス</p>
        <%= @user.email %>
      </div>
      <div class="account_column">
        <p>パスワード</p>
        <span>※※※※※※※※</span>
      </div>
      <div class="account_column">
        <span></span>
        <span class="account_p_small">>セキュリティ上パスワードは非表示となっています。</span>
      </div>
    </div>
  </div>
</div>
