<div class="container">
  <h1>候補日の追加</h1>
  <%= form_with model: @schedule, url: event_schedule_path do |f| %>
    <div>
      <%= f.label :schedule_date, "候補日" %>
      <%= f.datetime_field :schedule_date %>
      <%= render "shared/error_messages", object: f.object, key: "schedule_date" %>
    </div>
    <%= f.submit "登録" %>
  <% end %>
</div>
