<div class="container">
  <h1>マイページ</h1>
  <h3><%= "#{current_user.name}さんのタスク一覧" %></h3>
  <%= link_to "新規イベントを作成する", new_event_path %>
  <div>
    <table>
      <tr>
        <th>
          <%= "出欠" %>
        </th>
      </tr>
      <% @events_attendance.each do |event| %>
        <tr>
          <td>
            <%= event.event_name %>
          </td>
          <td>
            <span>出欠締め切り：</span><%= event.deadline %>
          </td>
          <td>
            <%= link_to "編集", edit_event_path(event) %>
          </td>
          <td>
            <%= link_to "出欠表", event_attendances_path(event) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <th>
          <%= "開催待ち" %>
        </th>
      </tr>
      <% @events_before_date.each do |event| %>
        <tr>
          <td>
            <%= event.event_name %>
          </td>
          <td>
            <span>開催日：</span><%= l event.date %>
          </td>
          <td>
            <%= link_to "編集", edit_event_path(event) %>
          </td>
          <td>
            <%= link_to "出欠表", event_attendances_path(event) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <th>
          <%= "精算" %>
        </th>
      </tr>
      <% @events_payment.each do |event| %>
        <tr>
          <td>
            <%= event.event_name %>
          </td>
          <td>
            <%= link_to "編集", edit_event_path(event) %>
          </td>
          <td>
            <%= link_to "出欠表", event_attendances_path(event) %>
          </td>
          <td>
            <%= link_to "支払表", event_payments_path(event) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
