<div class="container">
  <h1>イベント作成</h1>
  <%= form_with model: @event, url: events_path do |f| %>
    <div>
      <%= f.label :event_name, "イベント名" %>
      <%= f.text_field :event_name, placeholder: "イベント名を入力" %>
      <%= render "shared/error_messages", object: f.object, key: "event_name" %>
    </div>
    <div>
      <%= f.label :explanation, "イベントの概要" %>
      <%= f.text_area :explanation, placeholder: "イベントの概要を入力" %>
      <%= render "shared/error_messages", object: f.object, key: "explanation" %>
    </div>
    <%= f.submit "保存" %>
  <% end %>
</div>
