<div class="container">
  <h1>イベント詳細</h1>
  <div>
    <%= @event.event_name %>
  </div>
  <div>
    <%= @event.explanation %>
  </div>
  <div>
    <span>開催日（確定）:</span><%= l @event.date if @event.date %>
  </div>
  <div>
    <span>回答期限</span>
    <%= @event.deadline %>
  </div>
  <div>
    <p>候補日</p>
    <% @event.schedules.each do |schedule| %>
      <div>
        <%= l schedule.schedule_date %>
      </div>
    <% end %>
  </div>
  <%= link_to "編集", edit_event_path(@event) %>
  <%= link_to "削除", event_path(@event.id), data: { turbo_method: :delete, turbo_confirm: "イベントを削除しますか？" } %>
  <%= link_to "出欠表", event_attendances_path(@event) %>
</div>
