<script type="module">import "payment";</script>
<div class="container">
  <h1>支払表作成</h1>
    <%= form_with model: @payment, url: event_payments_path do |f| %>
      <div>
        <%= f.label :payment_name, "支払表名目" %>
        <%= f.text_field :payment_name, placeholder: "◯◯代金" %>
        <%= render "shared/error_messages", object: f.object, key: "payment_name" %>
      </div>
      <div>
        <%= f.label :amount, "総額" %>
        <%= f.number_field :amount %>
        <%= render "shared/error_messages", object: f.object, key: "amount" %>
      </div>
      <span id="calcButton">計算</span>
      <div>
        <span>端数処理：</span>
        <input type="radio" id="round_default" name="round" value="default" checked>
        <label for="round_default">標準</label>
        <input type="radio" id="round_100yen" name="round" value="100yen">
        <label for="round_100yen">100円単位</label>
        <input type="radio" id="round_500yen" name="round" value="500yen">
        <label for="round_500yen">500円単位</label>
      </div>
      <div>
        <div>支払額合計：<span id="sum_fee"></span></div>
        <div>振り分け残額：<span id="diff_fee"></span></div>
      </div>
      <table>
        <thead>
          <tr>
            <th>名前</th>
            <th>傾斜割合</th>
            <th>支払額</th>
          </tr>
        </thead>
        <tbody id="payment_table">
          <%= f.fields_for :payment_details do |detail| %>
            <tr class="payment_row">
              <td>
                <%= detail.label :participant, "名前", class: "payment_label" %>
                <%= detail.text_field :participant, value: detail.object.participant %>
                <%= render "shared/error_messages", object: detail.object, key: "participant" %>
              </td>
              <td>
                <select>
                  <optgroup label="多い"></optgroup>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3" selected>3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                  <optgroup label="少ない"></optgroup>
                  <hr>
                  <option value="0">請求なし</option>
                </select>
              </td>
              <td>
                <%= detail.label :fee, "支払額", class: "payment_label" %>
                <%= detail.number_field :fee, class: "payment_fee_form" %>
                <%= render "shared/error_messages", object: detail.object, key: "fee" %>
              </td>
              <td class="delete">
                <span class="deleteButton">削除</span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <p id="addButton">入力欄を追加</p>
      </div>
      <%= f.submit "保存" %>
    <% end %>
</div>
