<div class="container">
  <h1>出欠の入力</h1>
  <div class="mt-3">
    <%= form_with model: @member, url: event_attendances_path(@event, member_id: @member) do |f| %>
      <div>
        <%= f.text_field :member_name %>
        <%= render "shared/error_messages", object: f.object, key: "member_name" %>
      </div>
      <%= f.fields_for :attendances, @attendance do |attendance| %>
        <div>
          <%= l attendance.object.schedule.schedule_date %>
          <%= attendance.radio_button :answer, "ok" %>
          <%= attendance.label :answer, "⚪︎" , value: "ok" %>
          <%= attendance.radio_button :answer, "maybe" %>
          <%= attendance.label :answer, "△", value: "maybe" %>
          <%= attendance.radio_button :answer, "ng" %>
          <%= attendance.label :answer, "×", value: "ng" %>
        </div>
      <% end %>
      <%= f.submit "回答" %>
    <% end %>
  </div>
</div>
