<div class="container">
  <div class="attendance_form_wrapper">
    <h2>出欠の編集</h2>
    <%= form_with model: @member, url: event_attendances_path(@event, member_id: @member) do |f| %>
      <div class="name_form">
        <%= f.label :member_name, "名前", class: "required" %>
        <%= f.text_field :member_name, class: "form-control" %>
      </div>
      <%= render "shared/error_messages", object: f.object, key: "member_name" %>
      <ul class="attendance_ul">
        <%= f.fields_for :attendances, @attendance do |attendance| %>
          <li class="answer_li">
            <div class="answer_date">
              <%= l attendance.object.schedule.schedule_date %>
            </div>
            <div class="answer_icon">
              <%= attendance.radio_button :answer, "ok" %> 
              <%= attendance.label :answer, value: "ok" do %>
                <i class="fa-regular fa-circle fa-xl circle"></i>
              <% end %>
              <%= attendance.radio_button :answer, "maybe" %>
              <%= attendance.label :answer, value: "maybe" do %>
                <i class="fa-solid fa-play fa-rotate-270 fa-xl triangle"></i>
              <% end %>
              <%= attendance.radio_button :answer, "ng" %>
              <%= attendance.label :answer, value: "ng" do %>
                <i class="fa-solid fa-xmark fa-2xl xmark"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= f.submit "回答", class: "attendance_form_button" %>
    <% end %>
    <div class="attendance_options_area">
      <%= link_to :back, class: "back" do %>
        <i class="fa-solid fa-chevron-left fa-lg"></i>戻る
      <% end %>
      <%= link_to event_attendances_path(params[:event_id], member_id: @member.id), data: { turbo_method: :delete, turbo_confirm: "登録した回答を削除しますか？" }, class: "attendance_delete_btn" do %>
        <i class="fa-solid fa-trash" style="color: #757070;"></i>削除
      <% end %>
    </div>
  </div>
</div>
